<h1>edit your profile</h1>


<%= simple_form_for(current_user, url: profile_path) do |e| %>
  <%= e.label :username %>
  <%= e.text_field :username %>


  <%= e.input :date_of_birth, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>

  <%= e.label :location %>
  <%= e.text_field :location %>

  <%= e.label :bio %>
  <%= e.text_field :bio %>


  <%= e.submit %>
<% end %>
