<div class="">
<<<<<<< HEAD
  <% @profiles.each do |profile| %>
    <%= link_to profile_path(profile), class: '' do %>
      <div class="">
        <div class="">
          <%= cl_image_tag(profile.profile_avatar) %>
        </div>
        <div class="">
          <h3><%= profile.username %></h3>
          <h5><%= profile.location %></h5>
          <p><%= profile.bio %></p>
        </div>
        <div class="">
          <% if profile.spotify_top_1.present? %>
            <%= spotify_song(profile.spotify_top_1_uid) %>
          <% end %>
=======
  <p class="hover-underline-animation">Friends</p>
</div>

  <div class="grid-friends">
    <% @profiles.each do |profile| %>
      <%= link_to profile_path(profile), class: 'profile-link' do %>
        <div class="profile-card">
          <%= cl_image_tag(profile.profile_avatar, class: 'avatar')%>
          <%= profile.username %>
>>>>>>> master
        </div>
    <% end %>
  <% end %>
      </div>
</div>
