<div>
  <div class="profile-banner" style="background-image: url(<%= cl_image_path @profile.profile_banner %>)">

    <div class="profile-information">

      <%= cl_image_tag @profile.profile_avatar, class: "avatar-square-profile" %>

      <div class="personal-info">
        <ul class="personal-data list-inline">
          <li class="loc-user list-inline-item"><%= @profile.location %></li>
        </ul>

        <div class="overflow-scroll__scroller">
          <%= @profile.bio %>
        </div>
      </div>
    </div>

    <div class="profile-passport">
      <h1 class="profile-name"><%= @profile.username %></h1>
      <%= simple_form_for([@profile, @friendship]) do |f| %>
        <%= f.button :submit %>
      <% end %>
      <%= @friendships %>
    </div>
  </div>

  <div class="visor-moments">
    <div class="visor-header"><p class="visor-txt"><%= @profile.username %>' moments</p></div>
  </div>
  <div class="visor-events">
    <div class="visor-header"><p class="visor-txt"><%= @profile.username %>' events</p></div>
  </div>
  <div class="visor-top-songs">
    <div class="visor-header"><p class="visor-txt"><%= @profile.username %>' Top Songs</p></div>
      <%= image_tag 'logo.svg', class: "visor-logo" %>
      <div class="carousel" data-flickity='{ "autoPlay": 3500, "wrapAround": true}'>
            <div class="carousel-cell">
              <% if @profile.spotify_top_1.present? %>
                <%= spotify_song(@profile.spotify_top_1_uid) %>
              <% end %>
            </div>

            <div class="carousel-cell">
              <% if @profile.spotify_top_2.present? %>
                <%= spotify_song(@profile.spotify_top_2_uid) %>
              <% end %>
            </div>

            <div class="carousel-cell">
              <% if @profile.spotify_top_3.present? %>
                <%= spotify_song(@profile.spotify_top_3_uid) %>
              <% end %>
            </div>

            <div class="carousel-cell">
              <% if @profile.spotify_top_4.present? %>
                <%= spotify_song(@profile.spotify_top_4_uid) %>
              <% end %>
            </div>

            <div class="carousel-cell">
              <% if @profile.spotify_top_5.present? %>
                <%= spotify_song(@profile.spotify_top_5_uid) %>
              <% end %>
            </div>
      </div>

  </div>
</div>
