<div class="profile-banner" style="background-image: url(<%= cl_image_path @profile.profile_banner %>)">

  <div class="d-flex w-100">
    <div class="profile-information">

      <%= cl_image_tag @profile.profile_avatar, class: "avatar-square-profile" %>

      <div class="personal-info">

        <div class="overflow-scroll__scroller">
          <h4><%= @profile.bio %></h4>
        </div>
      </div>
    </div>
    <div class="profile-passport">
      <div>
        <h1 class="profile-name"><%= @profile.username %></h1>
        <h3 style="color: white; margin-top: 0;"><i class="fas fa-map-marker-alt mr-2"></i><%= @profile.location %></h3>
      </div>
      <%#= simple_form_for([@profile, @friendship]) do |f| %>
        <%#= f.button :submit %>
      <%# end %>
      <%#= @friendships %>
    </div>
  </div>
</div>

<div class="visor-moments">
  <div class="visor-moments-flex">
    <div class="visor-header-moments"><p class="visor-txt"><%= @profile.username %>' moments</p></div>
    <div class="moment-carousel" data-flickity='{ "autoPlay": 3500, "wrapAround": true}'>
      <% @moments.each do |m| %>
        <div class="profile-moment">
          <%= link_to m.event.title, event_path(m.event_id) %>
          <%= m.content %>
        </div>
      <% end %>
    </div>

    <div class="visor-events">
      <div class="visor-header-events"><p class="visor-txt"><%= @profile.username %>' events</p></div>
      <div class="event-carousel" data-flickity='{ "autoPlay": 3500, "wrapAround": true}'>
        <% @events.each do |e| %>
          <div class="profile-event" style="background-image: url(<%= cl_image_path e.banner %>)">
            <%= link_to e.title, event_path(e) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="visor-top-songs visor-moments-flex">
    <div class="visor-header-top-songs"><p class="visor-txt"><%= @profile.username %>' Top Songs</p></div>
    <div class="carousel" data-flickity='{ "autoPlay": 3500, "wrapAround": true}'>
      <div class="carousel-cell">
        <% if @profile.spotify_top_1.present? %>
          <%= spotify_song(@profile.spotify_top_1_uid) %>
        <% end %>
      </div>
      <div class="carousel-cell">
        <% if @profile.spotify_top_2.present? %>
          <%= spotify_song(@profile.spotify_top_2_uid) %>
        <% end %>
      </div>
      <div class="carousel-cell">
        <% if @profile.spotify_top_3.present? %>
          <%= spotify_song(@profile.spotify_top_3_uid) %>
        <% end %>
      </div>
      <div class="carousel-cell">
        <% if @profile.spotify_top_4.present? %>
          <%= spotify_song(@profile.spotify_top_4_uid) %>
        <% end %>
      </div>
      <div class="carousel-cell">
        <% if @profile.spotify_top_5.present? %>
          <%= spotify_song(@profile.spotify_top_5_uid) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
