<h1>This is your profile</h1>

<%= @profile.username %>
<%= @profile.date_of_birth %>
<%= @profile.location %>
<%= @profile.bio %>

<%= cl_image_tag @profile.profile_avatar, height: 100, width: 100 %>
<%= cl_image_tag @profile.profile_banner, height: 100, width: 100 %>

