<div>

  <div class="profile-banner" style="background-image: url(<%= cl_image_path @profile.profile_banner %>)">

    <div class="profile-information">

      <%= cl_image_tag @profile.profile_avatar, class: "avatar-square-profile" %>

      <div class="personal-info">
        <h2>BIO</h2>

        <div class="overflow-scroll-gradient__scroller">
          <div class="overflow-scroll-gradient">
            <p><%= @profile.bio %></p>
          </div>
        </div>

        <ul class="personal-data">
          <li class="dob-user"><%= @profile.date_of_birth %></li>
          <li class="loc-user"><%= @profile.location %></li>
        </ul>
      </div>
    </div>

    <div class="profile-passport">
      <h1><%= @profile.username %></h1>
    </div>
  </div>
</div>



