<!-- _dogbot.html.erb -->

<div class="dogbot stripes">
  <%= cl_image_path('stripes') %>
</div>
<div class="dogbot boss">
  <%= cl_image_path('boss') %>
</div>
<div class="dogbot ghost">
  <%= cl_image_path('ghost') %>
</div>
<div class="dogbot wisdom">
  <%= cl_image_path('wisdom') %>
</div>
<div class="dogbot stressed">
  <%= cl_image_path('stressed') %>
</div>

