<div>
  <div class="title-page">
    <h1 class="neon" data-text="Sign up" contenteditable></h1>
    <div class="gradient"></div>
    <div class="spotlight"></div>
  </div>

  <div class="title-page">
    <h1 class="neon" data-text="Sign in" contenteditable></h1>
    <div class="gradient"></div>
    <div class="spotlight"></div>
  </div>

  <div >
    <%= image_tag 'logo.svg' %>
    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class= "form-inputs text-center">
          <%= f.input :email,
                      required: true,
                      autofocus: false,
                      label: 'Email',
                      input_html: { autocomplete: "email", class: ' uk-input uk-width-2-child' } %>
          <%= f.input :password,
                      required: true,
                      # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password", class: 'uk-input uk-width-2-child' } %>
          <%= f.input :password_confirmation,
                      required: true,
                      label:'Password',
                      input_html: { autocomplete: "new-password", class: 'uk-input uk-width-2-child' } %>
        </div>
        <div class="form-actions mouse-tracking">
          <%= f.button :submit, "sign up" %>
        </div>
        <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
