<div class="grid-centering" style="background-image:url( <%= image_url 'blurred.svg' %> );">
  <div class="titles">
    <div class="title-signup">
      <h2 class="title-text">Sign up</h2>
      <div class="title-underline"></div>
    </div>
    <div class="title-login">
      <h2 class="title-text">Log in</h2>
      <div class="title-underline"></div>
    </div>
  </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class= "form-inputs text-center">
        <%= f.input :email,
                    required: true,
                    autofocus: false,
                    input_html: { autocomplete: "email", class: ' uk-input uk-width-large child' } %>
        <%= f.input :password,
                    required: true,
                    # hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password", class: ' uk-input uk-width-large child' } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password", class: ' uk-input uk-width-large child' } %>
      </div>
      <div class="child form-actions mouse-cursor-gradient-tracking">
        <%= f.button :submit, "SIGN UP" %>
      </div>
    <% end %>
  <%= render "devise/shared/links" %>
</div>
