<!-- _sidebar.html.erb -->
<nav class="sidebar">
  <div class="container-sidebar text-center">
    <% if user_signed_in? %>
      <lu class="inline-flex">
       <li class="sidebar-items inline-block">
         <%= link_to profile_path(current_user) do %>
           <%= cl_image_tag current_user.profile_avatar, class: 'avatar-sidebar' %>
         <% end %>
         <%= link_to new_event_path do %>
           <%= image_tag 'icon-create-event.svg', class: 'icon icon-create sidebar-items' %>
         <% end %>
         <%= link_to edit_profile_path(current_user) do %>
           <%= image_tag 'icon-edit.svg', class: 'icon icon-edit sidebar-items' %>
         <% end %>
       </li>
       <li class="sidebar-items">
          <%= link_to root_path @current_user do %>
            <%= image_tag 'blue-button-sidebar.svg', class: 'icon-nav sidebar-items' %>
          <% end %>
       </li>
        <li class="sidebar-items violet-state">
          <%= link_to events_path  do %>
            <%= image_tag 'green-button-sidebar.svg', class: 'icon-nav sidebar-items' %>
          <% end %>
       </li>
        <li class="sidebar-items orange-state">
          <%= link_to profiles_path do %>
            <%= image_tag 'purple-button-sidebar.svg', class: 'icon-nav sidebar-items' %>
          <% end %>
       </li>
        <li class="sidebar-items">
          <%= link_to moments_path do %>
            <%= image_tag 'red-button-sidebar.svg', class: 'icon-nav sidebar-items' %>
          <% end %>
       </li>
       <li class="sidebar-items">
         <input type="checkbox" id="toggle" class="offscreen"/><label for="toggle" class="switch sidebar-items"></label>
       </li>
       <li class="sidebar-items">
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= image_tag 'icon-logout.svg', class: 'logout sidebar-items' %>
        <% end %>
       </li>
      </lu>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</nav>



