<!-- _sidebar.html.erb -->

<nav class="sidebar">
 <div class="sidebar-items">
  <%= link_to root_path do %>
    <%= image_tag 'logo-md.svg', class: 'sidebar-logo' %>
  <% end %>
  <% if user_signed_in? %>
    <!-- TODO -->

    <% if policy(Event).create? %>
    <!-- display user avatar (clicking on the avatar takes you to your profile pagee) and edit profile link with log out botton  -->
       <!-- add alignmnet so they are one on top of the other --->
          <%= link_to "New Event", new_event_path %>
          <%= link_to "Edit your profile", edit_profile_path([:id]) %>
          <%= link_to "Events", events_path %>
          <%= link_to "Moments", moments_path %>
          <%= link_to "Friends", profiles_path %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% end %>
    <!-- show deyzboard, moments, event  -->
    <% else %>
       <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>
 </div>
</nav>
