<div class="visor-events">
  <% @events.each do |e| %>
    <div class="c-cntnr uk-card uk-align-left">
      <div id="c-img">
        <%= cl_image_tag(e.event_avatar) %>
      </div>
      <div id="c-time">
        <h3 style="color: white;"><%= e.scheduled_at.strftime('%a %b %y') %></h3>
      </div>
      <div id="c-header">
        <p style="color: white;padding: 30px 0px 10px 0px;"><%= e.title %></p>
      </div>
      <div class="c-description">
        <p style="color: white;"><%= e.description %></p>
      </div>
      <div id="c-link">
        <h3><%= link_to '⇨', event_path(e) %></h3>
      </div>
    </div>
  <% end %>
</div>





