<div>
  <div class="event-banner" style="background-image: url(<%= cl_image_path @event.banner %>)">

    <div class="event-details">

      <%= cl_image_tag @event.event_avatar, class: "avatar-square-profile" %>

      <div class="event-info">
        <h2>Event celebration:</h2>
        <ul class="personal-data list-inline">
          <li class=" list-inline-item"><%= @event.scheduled_at %> </li>
  <!--  if you are the creater see these options -->
        <% if policy(@event).edit? %>
          <li><%= link_to "Edit Event", edit_event_path(@event) %></li>
          <li><%= link_to "Delete Event", event_path(@event), method: :delete %></li>
        </ul>

        <div class="overflow-scroll__scroller">
          <%= @event.description %>
  <!-- click attend and create a new instance of an event -->
        <% elsif user_signed_in? %>
          <% unless current_user.attendees.pluck(:event_id).include?(params[:id].to_i) %>
            <%= simple_form_for([@event, @attendee]) do |f| %>
              <%= f.submit "Attend", class: "icon__attend_count" %>
            <% end %>
          <% else %>
  <!-- display attendees -->
            <%= @attendees.count %>
  <!-- change to avatar on pop up name and link to user_profile -->
          <% end %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="event-passport">
      <h1 class="event-name"><%= @event.title %></h1>
    </div>
  </div>
  <!-- Playlist & Create,display moments -->
  <div class="visor-playlist-moments">
    <div class="visor-playlist-header"><p class="visor-txt"><%= @event.title %>' beats</p></div>
    <div class="embeded-player">
      <%= spotify_embed_player(@event.spotify_playlist_id) %>
    </div>
    <div class="moment-submit">
      <%= form_for([@event, @moment]) do |m| %>
        <%= m.label :content %>
        <%= m.text_field :content %>
        <%= m.submit %>
      <% end %>
    </div>
  </div>

  <div class="visor-top-songs visor-multimedia">
    <div class="visor-mp3-player">
      <ul class="list-inline">
        <li class="list-inline-item"><%= image_tag 'logo.svg', class: "visor-logo" %></li>
        <li class="list-inline-item"><p>Event Stats</p></li>
        <li class="list-inline-item"><%= image_tag 'icon-calendar.svg' %></li>
        <li class="list-inline-item"><%= image_tag 'blue-button-sidebar.svg' %></li>
        <li class="list-inline-item"><%= image_tag 'blue-button-sidebar.svg' %></li>
        <li class="list-inline-item"><%= image_tag 'blue-button-sidebar.svg' %></li>
        <li class="list-inline-item"><%= image_tag 'blue-button-sidebar.svg' %></li>
      </ul>
    </div>
    <div class="visor-side-column-icons">
      <%= image_tag 'icon-full_screen.svg' %>
      <%= image_tag 'icon-download.svg' %>
      <%= image_tag 'icon-link.svg' %>
      <%= image_tag 'icon-facebook.svg' %>
    </div>
    <div class="visor-multimedia-footer">
      <ul class="list-inline">
        <li class="list-inline-item"><%= image_tag 'play-button-green.svg', class: "icon-play" %></li>
        <li class="list-inline-item"><%= image_tag 'icon-smiley.svg' %></li>
        <li class="list-inline-item"><%= image_tag 'icon-party.svg' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="moment-new">
  <% @moments.each do |m| %>
    <%= m.user.username %>
    <%= m.user.profile_avatar %>
    <%= m.event.title %>
    <%= m.event.scheduled_at %>
    <p><%= m.content %></p>
  <% end %>
</div>
