<div class="visor-index-events">
  <div class="uk-flex uk-flex-center " uk-grid="parallax: 150" uk-flex>
    <% @moments.each do |m| %>
      <div class="mymoment uk-card uk-width-1-2 uk-grid-large uk-background-cover uk-background-fixed uk-background-center-right" style="background-image: url('<%= cl_image_path m.event.banner %>');" uk-grid>
        <div class="uk-card-body uk-flex-middle uk-text-left" uk-scrollspy="cls: uk-animation-fade; target: .myavatar, .mylink, .myparagraph; delay: 850; repeat: true">
          <h5 class="mylink">
            Remember <%= link_to m.event.title,  event_path(m.event_id) %><br><br>
            on <%= m.created_at.strftime('%b %a %y') %> ?
          </h5>
        <div class="myavatar uk-overlay-primary uk-background-cover uk-background-blend-multiply  uk-background-center-left">
          <%= cl_image_tag(m.user.profile_avatar, class: 'avatar-xl-large')%>
        </div>
        <div class="myparagraph uk-card-body uk-text-center">
          <quote>" <%= m.content %> "</quote>
        </div>
          <!-- <h2 class="mytitle">Event: <%#= m.event.title %></h2>
        <div class="">
          <h5 class="mysubtitle">
            Reviewed:<br><%#= m.created_at.strftime('%b %a %y') %>
          </h5>
        </div>
        </div>
      </div> -->
     </div>
    </div>
  <% end %>
  </div>
</div>

